<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Dodaj kosmetyk</title>
</head>
<body>
<form action="#" th:action="@{/add-cosmetic}" th:object="${form}" method="post">
    *Pola WYMAGANE
    <br/>
    <label>
        Twój adres email:
        <br/>

        <input type="text" th:value="${login}" id="userLoginAddProduct" name="userLoginAddProduct" hidden/>

    </label>
    <br/>
    <label>
        <!--        TO DO: add to DB
                *Marka kosmetyku   np.Nivea
                <br/>
                <input type="text" th:field="*{brand}" list="brands" required/>
                <datalist id="brands">
                    <option th:each="brand:${brands}" th:value="${brand.name}" ></option>
                </datalist>
                   th:field="*{brand}">-->
    </label>
    <br/>
    <label>
        *Nazwa kosmetyku -proszę podaj jak najwięcej szczegółów-
        <br/>
        <textarea th:field="*{name}" rows="3" cols="50" required></textarea>
    </label>
    <br/>
    <label>
        Rodzaj kosmetyku np.szampon
        <br/>
        <input type="text" th:field="*{type}" list="types">
        <datalist id="types">
            <option th:value="${type.name}" th:each="type:${types}"></option>
        </datalist>
        <!--    th:field="*{type}">-->
    </label>
    <br/>
    <label>
        Typ kosmetyku np.emolientowy
        <br/>
        <input type="text" th:field="*{feature}" list="features">
        <datalist id="features">
            <option th:value="${feature.name}" th:each="feature:${features}"></option>
        </datalist>
        <!--    th:field="*{feature}">-->
    </label>
    <br/>
    <label>
        *Czy posiada silikony?
        <br/>
        <input type="radio" th:field="*{silicon}" value="yes"> Tak
        <br/>
        <input type="radio" th:field="*{silicon}" value="no"> Nie
        <br>
        <input type="radio" th:field="*{silicon}" value="dontKnow" required> Nie wiem
    </label>
    <br/>
    <label>
        *Czy posiada konserwanty?
        <br/>
        <input type="radio" th:field="*{preservative}" value="yes"> Tak
        <br/>
        <input type="radio" th:field="*{preservative}" value="no"> Nie
        <br>
        <input type="radio" th:field="*{preservative}" value="dontKnow" required> Nie wiem
    </label>
    <br/>
    <label>
        Dodatkowe informacje, które możesz podać o wskaznym kosmetyku,
        np. jakie silikony zawiera, czy zawiera pantenol
        <br/>
        <textarea th:field="*{additionalInfo}" rows="10" cols="30"></textarea>
    </label>

    <!--    CZY PO DODANIU KOSMETYKU DO BAZY DODANYCH DODAĆ GO DO LISTY TWOICH KOSMETYKÓW LUB DO LISTY ZAKUPÓW?
            TAK, DO LISTY MOICH KOSMETYKÓW | TAK, DO LISTY ZAKUPÓW | NIE, DZIĘKUJĘ-->

    <br/>
    <input type="submit" value="Dodaj">

</form>
</body>
</html>