<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Strona główna</title>
</head>
<body>
<span>
    <a th:href="'/search-for-user'">Wyszukiwarka</a>
    <br/>
    <a th:href="'/my-cosmetics'">Moje kosmetyki</a>
    <br/>
    <a th:href="'/diary-of-care'">Dziennik pielęgnacji</a>
    <br/>
    <a th:href="'/shoppping-list'">Lista zakupów</a>
    <br/>
    <a th:href="'/form-add-cosmetic'">Dodaj kosmetyk</a>
    <br/>
    <a href="/logout">Wyloguj</a>
</span>
</body>
</html>