<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Zarejestruj się</title>
</head>
<body>
<form action="#" th:action="@{/register-user}" th:object="${userForm}" method="post">
    <label>
        Imię:
        <input type="text" th:field="*{name}">
    </label>
    <label>
        Email:
        <input type="text" th:field="*{email}">
    </label>
    <label>
        Password:
        <input type="text" th:field="*{password}">
    </label>
    <label>
        <input type="submit" value="Zarejestruj">
    </label>
</form>

</body>
</html>