<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Zarejestruj się</title>
</head>
<body>
<!--<form action="#" th:action="@{/}" th:object="${userForm}" method="post">-->
<form action="#" th:action="@{/register-user}" th:object="${userForm}" method="post">

    <div class="form-user">
        <label>Imię:</label>
        <input type="text" th:field="*{name}">
        <span style="color: red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
        <!--        th:errors="*{name}-->

    </div>
    <label>
        Email:
        <input type="email" th:field="*{email}">
    </label>
    <label>
        Password:
        <input type="password" th:field="*{password}">
        <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span>

    </label>
    <label>
        <input type="submit" value="Zarejestruj">
    </label>
</form>

</body>
</html>